/* Write some CSS below */
body {
  font-family: "Montserrat";
  color: #1d3557;
  font-size: 18px;
  margin: 0px;
}

h1, h2, h3 {
  font-family: "Anta";
}

a {
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}


/* styling part*/

.banner {
	background-image: url(images/background.jpg);
	background-size: cover;
	padding: 150px;
	text-align: center;
}

.banner h1, p {
	color: white;
}

.banner p {
	margin-bottom: 40px;
}

.btn-blue {
	background-color: #a8dadc;
	color: #1d3557;
	padding: 15px 15px;
	border-radius: 3px;
}

.btn-blue:hover {
	padding: 18px 18px;
}

.card-white {
	background: white;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	width: 200px;
	padding: 24px;
	margin: 4px;
}

.card-white img {
	width: 180px;
	height: 180px;
	object-fit: cover;
	border-radius: 4px;
	display: block;
	margin: auto;
}

.card-white p {
	color: #1d3557;
}

.footer {
	background-color: #1d3557;
	text-align: center;
	padding: 24px 0;
	font-size: 14px;
}

.container {
	width: 900px;
	display: block;
	margin: 40px auto;
}

@media (min-width: 1000px)
.container {
    width: 900px;
}
@media (min-width: 700px)
.container {
    width: 600px;
}
@media (min-width: 300px)
.container {
    width: 200px;
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
}

@media (min-width: 1000px)
.cards {
    grid-template-columns: 1fr 1fr 1fr;
}
@media (min-width: 700px)
.cards {
    grid-template-columns: 1fr 1fr;
}
@media (min-width: 300px)
.cards {
    grid-template-columns: 1fr;
}